In [16]:
import pandas as pd 





def map_categorical_values(dataset, column, unique_values, standard_format):
    categoryMapping = dict(zip(unique_values, standard_format))
    dataset[column] = dataset[column].map(categoryMapping)
    return dataset


# df = pd.read_csv('all_issues.csv')
# # df

uniqueVals = ["Female", "M", "Male", "Woman", "F"]
standardFormat = ['F', 'M', 'M', 'F', 'F']

mappedData = map_categorical_values('all_issues.csv', 'Gender', uniqueVals, standardFormat)
print(mappedData)

TypeError: string indices must be integers, not 'str'

In [6]:
df = pd.read_csv('all_issues.csv')
df

     Name         Age  Gender         Description            Date
0   Alice          23  Female      Loves painting      2023-01-01
1     Bob          29       M   Software engineer             NaN
2     NaN         NaN    Male         Avid reader      2023-02-15
3   Diana          32   Woman                 NaN      2023/03/10
4    Evan  NotANumber       F  Fitness enthusiast  March 20, 2023
5   Fiona          27  Female                 NaN      2023-04-25
6     NaN          30       M                 NaN             NaN
7  Hannah          25  Female          Book lover      2023-05-30
8   Imani         Two    Male            Traveler      2023-06-01
9   James         NaN    Male                 NaN             NaN